<hr>
<li><a href="#" data-key="align" class="font_color">Font Color</a>
  <ul class="submenu">
    <select class="color-selection">
        <option value="dummy" selected data-l10n-id="ep_font_color.color">Color</option>
        <option value="0" data-l10n-id="ep_font_color.black">black</option>
        <option value="1" data-l10n-id="ep_font_color.red">red</option>
        <option value="2" data-l10n-id="ep_font_color.green">green</option>
        <option value="3" data-l10n-id="ep_font_color.blue">blue</option>
        <option value="4" data-l10n-id="ep_font_color.yellow">yellow</option>
        <option value="5" data-l10n-id="ep_font_color.orange">orange</option>
    </select>
  </ul>
</li>
